<head>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<h1>URDB: Awesome Movie Database!</h1>


<ul> 
	<% @all_movies.each do |movie| %>
		<div class="list">	
			<li>
				<%= link_to movie.title, movie_url(movie.id) %>
			</li>
		</div>
	<% end %>
</ul>

