/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, p, li {
	font-family: 'Oxygen', sans-serif;
}

div {
	margin: auto;
}

div.header {
	text-align: center;
}

body {
	margin: 0;
}

h1 {
	background: #d1f1ee;
	color: #666;
	padding: 20px 0;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

ul {
 list-style-type: none;
}

div.list {
	width: 500px;
}

li {
	text-align: center;
	text-transform: uppercase;
	background-color: #A3B2BC;
}

a {
	text-decoration: none;
	color: #666;
	display: block; 
	padding: 10px 0;
}

a:hover {
	background-color: #fff;
	color: #ac0d5f;
	opacity: 0.3;
}

div.description {
	width: 500px;
	height: auto;
}

div.image {
	margin: auto;
}

